@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    
    .select>li:hover {
        background-color: white;
        color: black;
        clip-path: polygon(0 0,100% 0,100% 70%,90% 100%,0 100%,0 0);
    }
    .active:hover{
        background-color: #DBA1E9;
    }
    .active{
        background-color: #DBA1E9;
        color: black;
        clip-path: polygon(0 0,100% 0,100% 70%,90% 100%,0 100%,0 0);
    }
    .select>li:hover+li{
        display:inline
    }
    body{
        background-color: #1C2023;
    }
    .setting{
        transform: rotate(90deg);    
    }
    .bgd{
        background-image: url('https://image.tmdb.org/t/p/original/rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg');
        background-size: cover;
    }
    .bgs{
        background-image: url('https://image.tmdb.org/t/p/original/v3QyboWRoA4O9RbcsqH8tJMe8EB.jpg');
        background-size: cover;
    }
        
   
  }

  