<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <title>MOLOG</title>
</head>
<body>
    <div class="fixed my-0 top-0 w-[100%] mx-auto text-white bg-black  backdrop-blur-lg shadow-md z-50 " >
        <div class="flex justify-between">
            
            <p class="px-5 inline py-6"><i class="inline fa-solid fa-film"></i><span class="invisible md:visible">MOLOG</span></p>
            <ul class="flex justify-center md:space-x-12 space-x-8 py-6">
                <li><a href="#" class="hover:animate-pulse font-light sm:text-base text-[0.5rem]">HOME</a></li>
                <li><a href="#" class="hover:animate-pulse font-light sm:text-base text-[0.5rem]">MY MOVIES</a></li>
                <li><a id="search" href="#" class="hover:animate-pulse font-light sm:text-base text-[0.5rem]">SEARCH</a></li>            
            </ul>
            <a href="/login"><i class="px-5 py-6 fa-regular fa-user"></i></a>
        </div>
        <div id="searchBar" class="text-center hidden">
            <form action="/search" method="post">
                <input class=" w-40  bg-transparent  placeholder:text-white inline border-x-0 border-t-0  border-b-2  border border-white  py-2 pl-9 pr-3  focus:outline-none focus:border-sky-50 text-white" placeholder="Movie name" type="text" name="Movie"/>
                <button type="submit" value="search" name="button" class=" text-white py-3 px-4 rounded-[15px]"><i class="fa-solid fa-chevron-right text-white"></i></button>
                
            </form>
        </div>
    </div>