<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <title>MOLOG</title>
</head>
<body class="bg-black">
    <div class="p-10 bg-white mx-auto mt-[10%] w-[25rem]">
        <p class="font-Montserrat font-extrabold text-[2rem] w-[70%]">LET'S GET STARTED<span class="text-red-600">.</span></p>
        <form action="/login" method="POST" class="my-6">
            <input class="mx-auto block w-[100%] my-8 border-b-2 border-slate-400 focus:outline-none focus:border-black" type="text" name="username" placeholder="username">
            <input class="mx-auto block w-[100%] my-8 border-b-2 border-slate-400 focus:outline-none" type="password" name="password" placeholder="password">
            <button class="bg-black shadow-gray-400 text-white shadow-2xl rounded-2xl w-[100%] py-2">Sign me in!</button>
        </form>
        <div class="w-full h-px bg-gray-200 my-8" style="opacity: 1; transform-origin: 50% 50% 0px;"></div>
        <a href="/auth/google" class=" block text-center shadow-2xl shadow-black rounded-2xl w-[100%] py-2"><img class="w-5 mx-2 inline" src="images/google.png">Sign in with google</a>
        <p class="mt-8 text-center">New to Molog? <a href="/register" class="text-red-600">Register</a></p>
        
    </div>

    
</body>
    

</html>